body {
  background-color: white;
  color: black;
}

h6 {
  color: rgb(105,105,105);
}

p {
  text-align: justify;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  border: 1px solid rgb(228, 226, 226);
  box-shadow: 10px 10px 5px #aaaaaa;
}

#introductionContainer {
  margin-top: 30px;
  margin-bottom: 60px;
}

#interestsContainer {
  margin-bottom: 60px;
}

#skillsContainer {
  margin-bottom: 60px;
}

.progress-bar {
  transition-duration: 4s;
}

#workContainer {
  margin-bottom: 60px;
}

.introduction img {
  float: right;
  padding-left: 20px;
}

.introduction p {
  padding-top: 40px;
}

.row p + h4 {
  padding-top: 10px;
  margin-top: 30px;
}

.row {
  margin-top: 15px;
}

.work img {
  float:left;
  max-width: 80px;
  margin-top: 20px;
  margin-right: 10px;
}

#studyContainer {
  margin-bottom: 100px;
}

.leiden img {
  float: left;
  margin-right: 30px;
}

.bangor img {
  float: right;
  margin-left: 15px;
}

.strava {
  color: #FC4C02;
  font-weight: bold;
}

.linkedin {
  color: #007bb5;
  font-weight: bold;
}

.footer {
  margin-top: 100px;
  padding-bottom: 80px;
}
