body {
  background-color: white;
  color: black;
}

h6 {
  color: rgb(105,105,105);
}

p {
  text-align: justify;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  border: 1px solid rgb(228, 226, 226);
  box-shadow: 10px 10px 5px #aaaaaa;
}

.container-fluid {
  margin-bottom: 50px;
}

.progress-bar {
  transition-duration: 4s;
}

.introduction {
  padding-top: 30px;
}

.introduction img {
  float: right;
  padding-left: 20px;
}

.introduction p {
  padding-top: 40px;
}

.row p + h4 {
  padding-top: 10px;
  margin-top: 30px;
}

.row {
  margin-top: 15px;
}

.polaroid-img {
  border: 12px solid #fff;
  border-bottom: 70px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #888;
  -moz-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  height: auto;
  max-width: 100%;
}

.polaroid p {
  color: #888;
  font: 500 12px/14px Arial, sans-serif;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.work img {
  float:left;
  max-width: 80px;
  margin-top: 20px;
  margin-right: 10px;
}

#studyContainer {
  margin-bottom: 100px;
}

.study img {
  float: left;
  margin-right: 30px;
  max-width: 80px;
}

.strava {
  color: #FC4C02;
  font-weight: bold;
}

.linkedin {
  color: #007bb5;
  font-weight: bold;
}

.instagram {
  color: #c32aa3;
  font-weight: bold;
}

.footer {
  margin-top: 100px;
  padding-bottom: 80px;
}
