

.container {
    padding-right: 30px;
    padding-left: 30px;

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main interests message and sign up button */
.jumbotron {
  text-align: center;
  /*border-bottom: 1px solid #e5e5e5;*/
  /* background-image: url('../img/b.jpg'); */
  background-size: 100%;
  background-color: white;
  color: black;

}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: grey;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.introduction {
  margin-top: 5px;
  margin-bottom: 40px;
}

.introduction img {
  float: right;
  
}

.introduction p {
  padding-top: 40px;
}

.row p + h4 {
  margin-top: 50px;
}


.strava {
  color: #FC4C02;
  font-weight: bold;
}

.linkedin {
  color: #007bb5;
  font-weight: bold;
}

.social {
  color: white;
}

.footer {
  color: black;
  padding-top: 60px;
  padding-right: 15px;


}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #2980b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  color: #000;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}
